<!-- View for hackathon admin -->
<% if current_admin %>
  <div id="hackathon-table">
    <h1>hackathons</h1>
    <table class="table table-striped">
      <thead>
        <tr>
          <th><h3>Name</h3></th>
          <th><h3>Start Date</h3></th>
          <th><h3>End Date</h3></th>
          <th><h3>Teams Created?</h3></th>
          <th><h3>Action</h3></th>
        </tr>
      </thead>
      <% @hackathons.each do |hackathon| %>
      <tr>
        <td><h4><%= link_to hackathon.name, :action => :show, :id => hackathon.id %></h4></td>
        <td><h4><%= hackathon.start_date %></h4></td>
        <td><h4><%= hackathon.end_date %></h4></td>
        <td><h4><%= hackathon.teams == [] ? "No" : (link_to "Yes", hackathon_teams_path(hackathon.id) ) %>
        <td><a class="btn btn-default" src= <%= link_to "Edit", edit_hackathon_path(hackathon) %></a>
        <a class="btn btn-danger" src= <%= link_to "Delete", hackathon_path(hackathon), method: "delete", data:{confirm: "Are you sure you want to delete this hackathon?"} %></a></td>
     </tr>
      <% end %>
    </table>
  </div>

  <div class="text-right">
    <%= link_to new_hackathon_path, class: "btn btn-primary lg" do %>
    <span class="glyphicon glyphicon-plus" aria-hidden="true"> Create a New Hackathon</span>
    <% end %>
  </div>

<!-- View for hackathon participant -->
<% elsif current_user %>
  <h2>Hackathons You'ved Signed Up For</h2>
  <% current_user.hackathons.each do |hackathon| %>
    <ul>
      <li>Name: <%= link_to(hackathon.name, hackathon_path(hackathon)) %></li>
      <li>Start Date: <%= hackathon.start_date %></li>
    </ul>
  <% end %>

  <h2>Upcoming Hackathons</h2>
  <% Hackathon.all.order(start_date: :asc).each_with_index do |hackathon, index| %>
    <% if hackathon.start_date > Date.current %>
      <%= "#{index+1}." %>
      Name: <%= link_to(hackathon.name, hackathon_path(hackathon)) %>
      Start Date: <%= hackathon.start_date %><br>
    <% end %>
  <% end %>
<% end %>
