<h1><%= @hackathon.name %></h1>
<h2>Start Date: <%= @hackathon.start_date %></h2>

<% if admin_signed_in? %>
  <h2>Current Participants</h2>
  <% @hackathon.users.each do |user| %>
    Email: <%= user.email %><br>
    Skills: <%= user.skills %><br>
  <% end %>

  <h2>Ready to create teams?</h2>
  <%= form_tag(teams_create_path, method: "post") do %>
    <%= hidden_field_tag :hackathon_id, @hackathon.id %>
    <%= submit_tag "Create Team", class: "btn btn-primary"%>
  <% end %>

<% elsif user_signed_in? %>
  <% if @hackathon.users.include? current_user %>
    <h3>You're currently signed up for this hackathon and you'll be assigned a team soon.<h3>
    Don't want to participate in this hackathon anymore?
    <%= form_tag(users_remove_hackathon_path, method: "post") do %>
      <%= hidden_field_tag :hackathon_id, @hackathon.id %>
      <%= submit_tag "Remove Myself from Hackathon", class: "btn btn-primary"%>
    <% end %>
  <% else %>
    <h2>Sign Up for Hackathon</h2>
    <%= form_tag(users_add_hackathon_path, method: "post") do %>
      <%= hidden_field_tag :hackathon_id, @hackathon.id %>
      <%= submit_tag "Sign Up for Hackathon", class: "btn btn-primary"%>
    <% end %>
  <% end %>
<% end %>
